/* general styling */
html {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
}

/* set the var */
:root {
    --coloraccent: #5831B9;
    --colorsub: #4A4A4A;
    --colormain: #252B42;
    --coloroff: #FFFFFF;
    --colortpr: rgba(0, 0, 0, 0);
    --lv1-mobile: 2.25em;
    --lv1-desktop: 3.375em;
    --lv2: 2.25em;
    --lv3: 1.5em;
}

/* style all the texts */
h1 {
    font-weight: 700;
    font-size: var(--lv1-mobile);
    line-height: 1.5em;
    text-align: center;
    color: var(--coloraccent);
    margin: 36px;
}

h2 {
    font-weight: 700;
    font-size: var(--lv2);
    line-height: 1.5em;
    text-align: center;
    color: var(--colormain);
    margin: 36px;
}

h3 {
    line-height: 1.5em;
    font-weight: 700;
    font-size: var(--lv3);
    text-align: center;
    color: var(--coloraccent);
    margin: 24px;
}

h4 {
    line-height: 1.5em;
    font-weight: 500;
    font-size: var(--lv3);
    text-align: center;
    color: var(--colorsub);
    margin: 24px;
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--colorsub);
    font-weight: 600;
    line-height: 1.5em;
    margin: 1em;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    line-height: inherit;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* image scale with the size of its container */
img,
picture {
    max-width: 100%;
    display: block;
}

/* link, visited, hover/focus, active , no underline, font size*/
a,
a:link,
a:visited {
    color: inherit;
}

a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    color: var(--colormain);
}

/* dress button */
.banner a,
.download a {
    color: var(--coloraccent);
    font-weight: 700;
    font-size: var(--lv2);
    line-height: 36px;
    width: 236px;
    border: 1px solid var(--coloraccent);
    border-radius: 30px;
    padding: 16px 32px 16px 32px;
    align-self: center;
    margin: 12px;
}

/* button hover */
.banner a:hover,
.banner a:focus,
.download a:hover,
.download a:focus {
    color: var(--coloroff);
    background-color: var(--coloraccent);
}

/* button at download section */
.download div {
    display: flex;
    justify-content: center;
    margin: 36px;
}

.download a {
    border-radius: 10px;
    border-color: var(--coloroff);
    color: var(--coloroff);
}

.fdeskstop {
    display: none;
}

/* banner's buttons flows */
.banner div {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
}

/* banner background color */
.banner {
    background-color: #ebe6e6;
    padding: 80px 0 80px 0;
}

.banner h3,
.banner h4 {
    color: var(--colormain);
}

/* navigation bar */
/* main logo */
.logo {
    width: 80px;
    border: 0.5px solid var(--coloraccent);
    border-radius: 30px;
    margin: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    display: block;
    text-align: center;
    margin: 32px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.menu li:focus,
.menu li:hover {
    color: var(--coloraccent);
}

/* hamburger menu */
nav label {
    display: inline-block;
    color: var(--colorsub);
    font-size: var(--lv2);
    cursor: pointer;
    margin: 0.5em;
}

/* hiding the checkbox input */
input {
    display: none;
}

/* hide the close icon */
.fa-x {
    display: none;
}

/* when input is checked, the menu icon hides, close icon appears, menu appears */
#mark:checked .fa-bars {
    display: none;
}

#mark:checked .fa-x {
    display: block;
}

#mark:checked .menu {
    display: block;
    width: 100%;
}

/* intro image section */
.introimage {
    margin-top: -100px;
}

.introimage div {
    width: 80%;
    margin-inline: auto;
}

/* divider section */
.divider {
    border-bottom: 1px solid var(--colorsub);
}

.divider h3 {
    color: var(--colormain);
}


/* all the info sections */
/* set the width of the container */
.container-app-info {
    width: 80%;
    margin-inline: auto;
}

/* image size */
.des-img,
.img-explore {
    width: 50%;
    margin-inline: auto;
}

/* set the photo center */
picture {
    display: flex;
    justify-content: center;
    margin: 2em 0 2em 0;
}

/* download section */
.download {
    background-color: var(--colormain);
    color: var(--coloroff);
    padding: 80px 0 80px 0;
}

.download h2 {
    color: var(--coloroff);
    padding: 0 32px 0 32px;
}

.download h4 {
    padding: 0 32px 0 32px;
    color: var(--coloroff);
}

/* footer logo */
footer .logo {
    display: none;
}

/* footer icon */
.icon {
    text-align: center;
}

.fa-brands {
    color: var(--coloraccent);
    font-size: var(--lv2);
    margin: 16px;
}

.icon li {
    display: inline-block;
}

.fa-instagram {
    display: none;
}

/* footer credit */
.footer-container div {
    margin-bottom: 1em;
}

.copy {
    display: none;
}

footer p {
    text-align: center;
}

/******** set the condition for the hamburger menu only for mobile *******/
/* @media screen and (max-width: 599px) {

    /* display the menu vertically but hide it on the side */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--colormain);
    color: var(--coloroff);
    font-weight: bolder;
    transition: all 0.2s ease-in-out;
}

}

*/

/************************************/
/********** tablet style ************/
/************************************/
@media screen and (min-width: 600px) {

    /* hide the hamburger */
    nav label,
    #mark {
        display: none;
    }

    nav {
        width: 100%;
    }

    .menu {
        display: flex;
    }

    .menu li {
        display: inline-block;
        position: relative;
    }

    /* banner section */
    /* background image at banner section */
    .banner {
        background-image: url(/images/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    /* change color of the text */
    .banner h3,
    .banner h4 {
        color: var(--coloroff);
    }

    h1 {
        color: #E3DBF5;
    }

    /* change the direction of buttons order */
    .banner div {
        flex-direction: row;
        justify-content: center;
    }

    /* change color of the button */
    .banner a {
        color: var(--coloroff);
        border-color: var(--coloroff);
    }

    /* change color button's border when hover */
    .banner a:hover,
    .banner a:focus,
    .fdeskstop:hover,
    .fdeskstop:focus {
        border-color: var(--coloraccent);
    }

    /* phone app image introduction */
    .introimage div {
        width: 50%;
        margin-inline: auto;
    }

    /* divider section */
    .divider {
        border-bottom: none;
        border-top: 1px solid var(--colorsub);
        width: 60%;
        margin-inline: auto;
    }

    /******** re-order inside the section ********/
    /* create an account section */
    .container-app-info {
        width: 70%;
    }

    .re-order {
        display: flex;
        gap: 10%;
        /* width: 540px; */
    }

    .app-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .des-img {
        order: -1;
    }

    .des-img,
    .img-explore {
        margin-inline: auto;
    }

    picture {
        width: 300px;
        max-width: 100%;
    }

    .re-order h3,
    .re-order h2,
    .re-order h4 {
        text-align: left;
        margin: 0.5em 0 0.5em 0;
    }

    /* download section background image */
    .download {
        background-image: url(/images/banner-map.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    /* change the button name */
    .fdeskstop {
        display: block;
    }

    .fmobile {
        display: none;
    }

    /*********** footer change ******/
    .mine {
        display: none;
    }

    .copy {
        display: block;
    }
}

/************************************/
/********** deskstop style **********/
/************************************/
@media screen and (min-width: 768px) {

    /* change global font size */
    html {
        font-size: 14px;
    }

    /* change font style for h1 */
    h1 {
        font-family: "Poppins", sans-serif;
        font-size: var(--lv1-desktop);
    }

    picture {
        max-width: 100%;
    }

    /* .re-order {
            width: 730px;
        } */

    /* footer change */
    .mine,
    footer .logo {
        display: block;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}